.m-ua{background:url("../images/flags/ua.png") no-repeat 0 5px;}
.m-ru{background:url("../images/flags/ru.png") no-repeat 0 5px;}
.m-en{background:url("../images/flags/en.png") no-repeat 0 5px;}
.m-jp{background:url("../images/flags/jp.png") no-repeat 0 5px;}
.m-de{background:url("../images/flags/de.png") no-repeat 0 5px;}
.m-ae{background:url("../images/flags/ae.png") no-repeat 0 5px;}
.m-az{background:url("../images/flags/az.png") no-repeat 0 5px;}
.m-al{background:url("../images/flags/al.png") no-repeat 0 5px;}
.m-am{background:url("../images/flags/am.png") no-repeat 0 5px;}
.m-ar{background:url("../images/flags/ar.png") no-repeat 0 5px;}
.m-am{background:url("../images/flags/am.png") no-repeat 0 5px;}
.m-as{background:url("../images/flags/as.png") no-repeat 0 5px;}
.m-af{background:url("../images/flags/af.png") no-repeat 0 5px;}
.m-ba{background:url("../images/flags/ba.png") no-repeat 0 5px;}
.m-be{background:url("../images/flags/be.png") no-repeat 0 5px;}
.m-bn{background:url("../images/flags/bn.png") no-repeat 0 5px;}
.m-ph{background:url("../images/flags/ph.png") no-repeat 0 5px;}
.m-my{background:url("../images/flags/my.png") no-repeat 0 5px;}
.m-bi{background:url("../images/flags/bi.png") no-repeat 0 5px;}
.m-bg{background:url("../images/flags/bg.png") no-repeat 0 5px;}
.m-bs{background:url("../images/flags/bs.png") no-repeat 0 5px;}
.m-br{background:url("../images/flags/br.png") no-repeat 0 5px;}
.m-lr{background:url("../images/flags/lr.png") no-repeat 0 5px;}
.m-cy{background:url("../images/flags/cy.png") no-repeat 0 5px;}
.m-hu{background:url("../images/flags/hu.png") no-repeat 0 5px;}
.m-ve{background:url("../images/flags/ve.png") no-repeat 0 5px;}
.m-sn{background:url("../images/flags/sn.png") no-repeat 0 5px;}
.m-vi{background:url("../images/flags/vi.png") no-repeat 0 5px;}
.m-id{background:url("../images/flags/id.png") no-repeat 0 5px;}
.m-gl{background:url("../images/flags/gl.png") no-repeat 0 5px;}
.m-ki{background:url("../images/flags/ki.png") no-repeat 0 5px;}
.m-nl{background:url("../images/flags/nl.png") no-repeat 0 5px;}
.m-gr{background:url("../images/flags/gr.png") no-repeat 0 5px;}
.m-ge{background:url("../images/flags/ge.png") no-repeat 0 5px;}
.m-gu{background:url("../images/flags/gu.png") no-repeat 0 5px;}
.m-dk{background:url("../images/flags/dk.png") no-repeat 0 5px;}
.m-dz{background:url("../images/flags/dz.png") no-repeat 0 5px;}
.m-za{background:url("../images/flags/za.png") no-repeat 0 5px;}
.m-il{background:url("../images/flags/il.png") no-repeat 0 5px;}
.m-ng{background:url("../images/flags/ng.png") no-repeat 0 5px;}
.m-id{background:url("../images/flags/id.png") no-repeat 0 5px;}
.m-ga{background:url("../images/flags/ga.png") no-repeat 0 5px;}
.m-is{background:url("../images/flags/is.png") no-repeat 0 5px;}
.m-es{background:url("../images/flags/es.png") no-repeat 0 5px;}
.m-it{background:url("../images/flags/it.png") no-repeat 0 5px;}
.m-kz{background:url("../images/flags/kz.png") no-repeat 0 5px;}
.m-kn{background:url("../images/flags/kn.png") no-repeat 0 5px;}
.m-kr{background:url("../images/flags/kr.png") no-repeat 0 5px;}
.m-ad{background:url("../images/flags/ad.png") no-repeat 0 5px;}
.m-ki{background:url("../images/flags/ki.png") no-repeat 0 5px;}
.m-ky{background:url("../images/flags/ky.png") no-repeat 0 5px;}
.m-cn{background:url("../images/flags/cn.png") no-repeat 0 5px;}
.m-ru{background:url("../images/flags/ru.png") no-repeat 0 5px;}
.m-kg{background:url("../images/flags/kg.png") no-repeat 0 5px;}
.m-kp{background:url("../images/flags/kp.png") no-repeat 0 5px;}
.m-co{background:url("../images/flags/co.png") no-repeat 0 5px;}
.m-ua{background:url("../images/flags/ua.png") no-repeat 0 5px;}
.m-km{background:url("../images/flags/km.png") no-repeat 0 5px;}
.m-la{background:url("../images/flags/la.png") no-repeat 0 5px;}
.m-la{background:url("../images/flags/la.png") no-repeat 0 5px;}
.m-lv{background:url("../images/flags/lv.png") no-repeat 0 5px;}
.m-lt{background:url("../images/flags/lt.png") no-repeat 0 5px;}
.m-zm{background:url("../images/flags/zm.png") no-repeat 0 5px;}
.m-lb{background:url("../images/flags/lb.png") no-repeat 0 5px;}
.m-id{background:url("../images/flags/id.png") no-repeat 0 5px;}
.m-mk{background:url("../images/flags/mk.png") no-repeat 0 5px;}
.m-mg{background:url("../images/flags/mg.png") no-repeat 0 5px;}
.m-ms{background:url("../images/flags/ms.png") no-repeat 0 5px;}
.m-ml{background:url("../images/flags/ml.png") no-repeat 0 5px;}
.m-mt{background:url("../images/flags/mt.png") no-repeat 0 5px;}
.m-ml{background:url("../images/flags/ml.png") no-repeat 0 5px;}
.m-nz{background:url("../images/flags/nz.png") no-repeat 0 5px;}
.m-mr{background:url("../images/flags/mr.png") no-repeat 0 5px;}
.m-mh{background:url("../images/flags/mh.png") no-repeat 0 5px;}
.m-ca{background:url("../images/flags/ca.png") no-repeat 0 5px;}
.m-id{background:url("../images/flags/id.png") no-repeat 0 5px;}
.m-ru{background:url("../images/flags/ru.png") no-repeat 0 5px;}
.m-mo{background:url("../images/flags/mo.png") no-repeat 0 5px;}
.m-mn{background:url("../images/flags/mn.png") no-repeat 0 5px;}
.m-na{background:url("../images/flags/na.png") no-repeat 0 5px;}
.m-de{background:url("../images/flags/de.png") no-repeat 0 5px;}
.m-ne{background:url("../images/flags/ne.png") no-repeat 0 5px;}
.m-no{background:url("../images/flags/no.png") no-repeat 0 5px;}
.m-mw{background:url("../images/flags/mw.png") no-repeat 0 5px;}
.m-ca{background:url("../images/flags/ca.png") no-repeat 0 5px;}
.m-om{background:url("../images/flags/om.png") no-repeat 0 5px;}
.m-pa{background:url("../images/flags/pa.png") no-repeat 0 5px;}
.m-ir{background:url("../images/flags/ir.png") no-repeat 0 5px;}
.m-pl{background:url("../images/flags/pl.png") no-repeat 0 5px;}
.m-pt{background:url("../images/flags/pt.png") no-repeat 0 5px;}
.m-ps{background:url("../images/flags/ps.png") no-repeat 0 5px;}
.m-rw{background:url("../images/flags/rw.png") no-repeat 0 5px;}
.m-ro{background:url("../images/flags/ro.png") no-repeat 0 5px;}
.m-bi{background:url("../images/flags/bi.png") no-repeat 0 5px;}
.m-ru{background:url("../images/flags/ru.png") no-repeat 0 5px;}
.m-sm{background:url("../images/flags/sm.png") no-repeat 0 5px;}
.m-sc{background:url("../images/flags/sc.png") no-repeat 0 5px;}
.m-sr{background:url("../images/flags/sr.png") no-repeat 0 5px;}
.m-si{background:url("../images/flags/si.png") no-repeat 0 5px;}
.m-sd{background:url("../images/flags/sd.png") no-repeat 0 5px;}
.m-sk{background:url("../images/flags/sk.png") no-repeat 0 5px;}
.m-sl{background:url("../images/flags/sl.png") no-repeat 0 5px;}
.m-so{background:url("../images/flags/so.png") no-repeat 0 5px;}
.m-st{background:url("../images/flags/st.png") no-repeat 0 5px;}
.m-tl{background:url("../images/flags/tl.png") no-repeat 0 5px;}
.m-tg{background:url("../images/flags/tg.png") no-repeat 0 5px;}
.m-th{background:url("../images/flags/th.png") no-repeat 0 5px;}
.m-pf{background:url("../images/flags/pf.png") no-repeat 0 5px;}
.m-in{background:url("../images/flags/in.png") no-repeat 0 5px;}
.m-tt{background:url("../images/flags/tt.png") no-repeat 0 5px;}
.m-tw{background:url("../images/flags/tw.png") no-repeat 0 5px;}
.m-bo{background:url("../images/flags/bo.png") no-repeat 0 5px;}
.m-et{background:url("../images/flags/et.png") no-repeat 0 5px;}
.m-to{background:url("../images/flags/to.png") no-repeat 0 5px;}
.m-tn{background:url("../images/flags/tn.png") no-repeat 0 5px;}
.m-tr{background:url("../images/flags/tr.png") no-repeat 0 5px;}
.m-tk{background:url("../images/flags/tk.png") no-repeat 0 5px;}
.m-uz{background:url("../images/flags/uz.png") no-repeat 0 5px;}
.m-ug{background:url("../images/flags/ug.png") no-repeat 0 5px;}
.m-ua{background:url("../images/flags/ua.png") no-repeat 0 5px;}
.m-pk{background:url("../images/flags/pk.png") no-repeat 0 5px;}
.m-cm{background:url("../images/flags/cm.png") no-repeat 0 5px;}
.m-fo{background:url("../images/flags/fo.png") no-repeat 0 5px;}
.m-fj{background:url("../images/flags/fj.png") no-repeat 0 5px;}
.m-lb{background:url("../images/flags/lb.png") no-repeat 0 5px;}
.m-fi{background:url("../images/flags/fi.png") no-repeat 0 5px;}
.m-fr{background:url("../images/flags/fr.png") no-repeat 0 5px;}
.m-nl{background:url("../images/flags/nl.png") no-repeat 0 5px;}
.m-ph{background:url("../images/flags/ph.png") no-repeat 0 5px;}
.m-in{background:url("../images/flags/in.png") no-repeat 0 5px;}
.m-ug{background:url("../images/flags/ug.png") no-repeat 0 5px;}
.m-ch{background:url("../images/flags/ch.png") no-repeat 0 5px;}
.m-cs{background:url("../images/flags/cs.png") no-repeat 0 5px;}
.m-za{background:url("../images/flags/za.png") no-repeat 0 5px;}
.m-cv{background:url("../images/flags/cv.png") no-repeat 0 5px;}
.m-sv{background:url("../images/flags/sv.png") no-repeat 0 5px;}
.m-sn{background:url("../images/flags/sn.png") no-repeat 0 5px;}
.m-ee{background:url("../images/flags/ee.png") no-repeat 0 5px;}
.m-ee{background:url("../images/flags/ee.png") no-repeat 0 5px;}
.m-cn{background:url("../images/flags/cn.png") no-repeat 0 5px;}
.m-jp{background:url("../images/flags/jp.png") no-repeat 0 5px;}
.m-hr{background:url("../images/flags/hr.png") no-repeat 0 5px;}